language: php

php:
  - 7.3
  - 7.4

before_script: composer install

script:
  - ./vendor/bin/php-cs-fixer fix --verbose --dry-run
  - ./vendor/bin/phpunit

notifications:
  email:
    on_success: never
    on_failure: always
